.about-us-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .about-us-content {
    max-width: 50%;
  }
  
  .about-us-content h2 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .about-us-content h3 {
    font-size: 20px;
    margin-top: 10px;
  }
  
  .about-us-content p {
    margin-top: 15px;
    line-height: 1.6;
  }
  
  .icons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    font-size: 24px;
  }
  
  .contact-text {
    margin-top: 15px;
    font-style: italic;
    color: #555;
  }
  
  .about-us-image img {
    width: 1200px;/* Makes the image take up the full width of its parent */
    height: auto; /* Maintains the aspect ratio */
    border-radius: 20px;
  }